@charset "utf-8";
.nba {
  height: 60px;
  position: relative;
  z-index: 10000;
}
.banner-nav {
  position: absolute;
  left: 60px;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  height: 480px;
  padding: 10px 0px;
}
.banner-nav > li {
  height: 60px;
  line-height: 60px;
}
.banner-nav > li > a {
  display: block;
  width: 151px;
  padding-left: 75px;
  box-sizing: content-box;
  color: #fff;
}
.banner-nav > li .nav-a1 {
  background: url(../images/inner-chiq-icon.png) no-repeat 20px center;
}
.banner-nav > li .nav-a2 {
  background: url(../images/inner-TV-icon.png) no-repeat 20px center;
}
.banner-nav > li .nav-a3 {
  background: url(../images/inner-air-icon.png) no-repeat 20px center;
}
.banner-nav > li .nav-a4 {
  background: url(../images/inner-icebox-icon.png) no-repeat 20px center;
}
.banner-nav > li .nav-a5 {
  background: url(../images/inner-ele-icon.png) no-repeat 20px center;
}
.banner-nav > li .nav-a6 {
  background: url(../images/inner-digital-icon.png) no-repeat 20px center;
}
.banner-nav > li .nav-a7 {
  background: url(../images/inner-other-icon.png) no-repeat 20px center;
}
.banner-nav > li:hover {
  background: #f12020;
}
.banner-nav .sub-qike {
  width: 480px;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 226px;
  top: 0;
  z-index: 10;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}
.banner-nav .sub-qike li {
  margin: 5px;
  border-bottom: 1px solid #ddd;
}
.banner-nav .sub-qike span {
  display: inline-block;
  padding: 20px;
}
.banner-nav .sub-qike a {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  transition: all 0.3s;
}
.banner-nav .sub-qike a:hover {
  color: #f12020;
}
.banner-nav .li-qike:hover .sub-qike {
  display: block;
}
.banner-nav .sub-pb {
  width: 480px;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 226px;
  top: 0;
  z-index: 10;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}
.banner-nav .sub-pb li {
  margin: 10px;
  border-bottom: 1px solid #ddd;
}
.banner-nav .sub-pb span {
  display: inline-block;
  padding: 10px;
}
.banner-nav .sub-pb a {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  transition: all 0.3s;
}
.banner-nav .sub-pb a:hover {
  color: #f12020;
}
.banner-nav .li-pb:hover .sub-pb {
  display: block;
}
.banner-nav .sub-kt {
  width: 480px;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 226px;
  top: 0;
  z-index: 10;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}
.banner-nav .sub-kt li {
  margin: 8px;
  border-bottom: 1px solid #ddd;
}
.banner-nav .sub-kt span {
  display: inline-block;
  padding: 10px;
}
.banner-nav .sub-kt a {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  transition: all 0.3s;
}
.banner-nav .sub-kt a:hover {
  color: #f12020;
}
.banner-nav .li-kt:hover .sub-kt {
  display: block;
}
.banner-nav .sub-bx {
  width: 480px;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 226px;
  top: 0;
  z-index: 10;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}
.banner-nav .sub-bx li {
  margin: 8px;
  border-bottom: 1px solid #ddd;
}
.banner-nav .sub-bx span {
  display: inline-block;
  padding: 10px;
}
.banner-nav .sub-bx a {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  transition: all 0.3s;
}
.banner-nav .sub-bx a:hover {
  color: #f12020;
}
.banner-nav .li-bx:hover .sub-bx {
  display: block;
}
.banner-nav .sub-sh {
  width: 480px;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 226px;
  top: 0;
  z-index: 10;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}
.banner-nav .sub-sh li {
  margin: 8px;
  border-bottom: 1px solid #ddd;
}
.banner-nav .sub-sh span {
  display: inline-block;
  padding: 10px;
}
.banner-nav .sub-sh a {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  transition: all 0.3s;
}
.banner-nav .sub-sh a:hover {
  color: #f12020;
}
.banner-nav .li-sh:hover .sub-sh {
  display: block;
}
.banner-nav .sub-sm {
  width: 480px;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 226px;
  top: 0;
  z-index: 10;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}
.banner-nav .sub-sm li {
  margin: 8px;
  border-bottom: 1px solid #ddd;
}
.banner-nav .sub-sm span {
  display: inline-block;
  padding: 10px;
}
.banner-nav .sub-sm a {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  transition: all 0.3s;
}
.banner-nav .sub-sm a:hover {
  color: #f12020;
}
.banner-nav .li-sm:hover .sub-sm {
  display: block;
}
.banner-nav .sub-zh {
  width: 480px;
  height: 500px;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 226px;
  top: 0;
  z-index: 10;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}
.banner-nav .sub-zh li {
  margin: 8px;
  border-bottom: 1px solid #ddd;
}
.banner-nav .sub-zh span {
  display: inline-block;
  padding: 10px;
}
.banner-nav .sub-zh a {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  transition: all 0.3s;
}
.banner-nav .sub-zh a:hover {
  color: #f12020;
}
.banner-nav .li-zh:hover .sub-zh {
  display: block;
}
main {
  background: #f9f9f9;
}
main .main-inner {
  width: 1226px;
  margin: auto;
}
main .main-inner .notice-top {
  height: 40px;
  padding-left: 55px;
  background: url(../images/home-radio-icon_03.png) no-repeat left 3px;
  overflow: hidden;
}
main .main-inner .notice-top h2 {
  font-weight: normal;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
  float: left;
}
main .main-inner .notice-bot {
  height: 160px;
  margin-bottom: 30px;
}
main .main-inner .notice-bot .notice-bot-box1 {
  float: left;
  width: 226px;
  overflow: hidden;
  position: relative;
  background: #585858;
}
main .main-inner .notice-bot .notice-bot-box1 .notice-bot-box1-heng {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 1px;
  background: #717171;
}
main .main-inner .notice-bot .notice-bot-box1 .notice-bot-box1-shu {
  position: absolute;
  left: 50%;
  display: block;
  height: 100%;
  width: 1px;
  background: #717171;
}
main .main-inner .notice-bot .notice-bot-box1 li {
  width: 50%;
  height: 80px;
  float: left;
}
main .main-inner .notice-bot .notice-bot-box1 li a {
  display: block;
  height: 79px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 1;
}
main .main-inner .notice-bot .notice-bot-box1 li a img {
  padding: 15px 0px 5px;
  margin: 0px auto;
  display: block;
  box-sizing: content-box;
}
main .main-inner .notice-bot .notice-bot-box2 {
  float: left;
  width: 320px;
  margin-left: 13px;
}
main .main-inner .notice-bot .notice-bot-box3 {
  float: left;
  width: 320px;
  margin-left: 13px;
}
main .main-inner .notice-bot .notice-bot-box4 {
  float: left;
  width: 320px;
  margin-left: 13px;
}
main .main-inner .main-common {
  height: 685px;
  padding-top: 30px;
  margin-top: 40px;
}
main .main-inner .main-common .main-common-left {
  width: 228px;
  float: left;
}
main .main-inner .main-common .main-common-left .main-common-left-theme {
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
}
main .main-inner .main-common .main-common-left .main-common-left-theme p {
  padding-left: 13px;
  font-size: 22px;
  color: #333333;
  line-height: 25px;
  height: 25px;
  float: left;
  border-left: 4px solid #ca694e;
}
main .main-inner .main-common .main-common-left .main-common-left-theme a {
  font-size: 14px;
  float: right;
  margin-right: 5px;
  color: #8a4532;
}
main .main-inner .main-common .main-common-right {
  margin-left: 226px;
}
main .main-inner .main-common .main-common-right .main-common-right-nav {
  line-height: 30px;
  height: 30px;
  margin-bottom: 15px;
}
main .main-inner .main-common .main-common-right .main-common-right-nav ul {
  overflow: hidden;
  float: right;
  margin-right: 8px;
}
main .main-inner .main-common .main-common-right .main-common-right-nav ul li {
  float: left;
  margin-left: 33px;
  line-height: 25px;
  height: 25px;
}
main .main-inner .main-common .main-common-right .main-common-right-nav ul li a {
  font-size: 14px;
  color: #333333;
  transition: all 0.3s;
}
main .main-inner .main-common .main-common-right .main-common-right-nav ul li a:hover {
  color: #f12020;
}
main .main-inner .main-common .main-common-right .main-common-right-goods {
  height: 640px;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods {
  width: 190px;
  height: 260px;
  margin-bottom: 10px;
  padding: 25px;
  float: left;
  margin-left: 9px;
  box-sizing: content-box;
  background: #fff;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-img {
  height: 160px;
  width: 160px;
  margin: 0px auto;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-img a {
  display: block;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-img a img {
  height: 160px;
  width: 160px;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-text {
  display: block;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-text h2 {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 15px;
  margin-top: 20px;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-text h2 a {
  color: #222;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-text p {
  line-height: 12px;
  font-size: 12px;
  margin-top: 10px;
  color: #999;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 12px;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods .main-common-goods-text h3 {
  font-size: 16px;
  text-align: center;
  color: #f12020;
  line-height: 22px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}
main .main-inner .main-common .main-common-right .main-common-right-goods .main-common-goods:hover {
  box-shadow: 0px 0px 5px 3px #d9d9d9;
}
