@charset "utf-8";
.nba{
    height: 60px;
    position: relative;
    z-index: 10000
}


    // 轮播图的导航
    .banner-nav{
        position: absolute;
        left: 60px;
        top: 0;
        z-index: 999;
        height: 480px;
        background: rgba(0,0,0,.4);
        height: 480px;
        padding: 10px 0px;
        >li{
            height: 60px;
            line-height: 60px;
            >a{display: block;
                width: 151px;
                padding-left: 75px;
                box-sizing: content-box;
                color: #fff;
            }
          
        
            .nav-a1{
            background: url(../images/inner-chiq-icon.png) no-repeat 20px center;
        }
        .nav-a2{
            background: url(../images/inner-TV-icon.png) no-repeat 20px center;
        }
        .nav-a3{
            background: url(../images/inner-air-icon.png) no-repeat 20px center;
        }
        .nav-a4{
            background: url(../images/inner-icebox-icon.png) no-repeat 20px center;
        }
        .nav-a5{
            background: url(../images/inner-ele-icon.png) no-repeat 20px center;
        }
        .nav-a6{
            background: url(../images/inner-digital-icon.png) no-repeat 20px center;
        }
        .nav-a7{
            background: url(../images/inner-other-icon.png) no-repeat 20px center;
        }
        } 
         >li:hover{
            background: #f12020;
            
        }
        


        // 启客系列悬停内容
.sub-qike{
    width: 480px;
    height: 500px;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 226px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: none;
    box-shadow: 0px 0px 3px 1px #aaa;
    li{
        margin: 5px;
        border-bottom: 1px solid #ddd;
    }
    span{
        display: inline-block;
        padding: 20px;
       
    }
    a{display: inline-block;
        color: #666;
        padding-left: 10px;
        transition: all 0.3s;
    }
    a:hover{
        color: #f12020;
    }
    
}
    .li-qike:hover .sub-qike{display: block}

    // 平板电视

    .sub-pb{
        width: 480px;
    height: 500px;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 226px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: none;
    box-shadow: 0px 0px 3px 1px #aaa;
    li{
        margin: 10px;
        border-bottom: 1px solid #ddd;
    }
    span{
        display: inline-block;
        padding: 10px;
       
    }
    a{display: inline-block;
        color: #666;
        padding-left: 10px;
        transition: all 0.3s;
    }
    a:hover{
        color: #f12020;
    }
    }
    .li-pb:hover .sub-pb{display: block}
    
    // 空调悬停内容

    .sub-kt{
        width: 480px;
    height: 500px;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 226px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: none;
    box-shadow: 0px 0px 3px 1px #aaa;
    li{
        margin: 8px;
        border-bottom: 1px solid #ddd;
    }
    span{
        display: inline-block;
        padding: 10px;
       
    }
    a{display: inline-block;
        color: #666;
        padding-left: 10px;
        transition: all 0.3s;
    }
    a:hover{
        color: #f12020;
    }
    }
    .li-kt:hover .sub-kt{display: block}

    // 冰洗悬停内容

    .sub-bx{
        width: 480px;
    height: 500px;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 226px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: none;
    box-shadow: 0px 0px 3px 1px #aaa;
    li{
        margin: 8px;
        border-bottom: 1px solid #ddd;
    }
    span{
        display: inline-block;
        padding: 10px;
       
    }
    a{display: inline-block;
        color: #666;
        padding-left: 10px;
        transition: all 0.3s;
    }
    a:hover{
        color: #f12020;
    }
    }
    .li-bx:hover .sub-bx{display: block}

    // 生活家电悬停内容

    .sub-sh{
        width: 480px;
    height: 500px;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 226px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: none;
    box-shadow: 0px 0px 3px 1px #aaa;
    li{
        margin: 8px;
        border-bottom: 1px solid #ddd;
    }
    span{
        display: inline-block;
        padding: 10px;
       
    }
    a{display: inline-block;
        color: #666;
        padding-left: 10px;
        transition: all 0.3s;
    }
    a:hover{
        color: #f12020;
    }
    }
    .li-sh:hover .sub-sh{display: block}

    // 数码影音悬停内容

    .sub-sm{
        width: 480px;
    height: 500px;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 226px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: none;
    box-shadow: 0px 0px 3px 1px #aaa;
    li{
        margin: 8px;
        border-bottom: 1px solid #ddd;
    }
    span{
        display: inline-block;
        padding: 10px;
       
    }
    a{display: inline-block;
        color: #666;
        padding-left: 10px;
        transition: all 0.3s;
    }
    a:hover{
        color: #f12020;
    }
    }
    .li-sm:hover .sub-sm{display: block}

    // 智慧家庭悬停内容

    .sub-zh{
        width: 480px;
    height: 500px;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 226px;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: none;
    box-shadow: 0px 0px 3px 1px #aaa;
    li{
        margin: 8px;
        border-bottom: 1px solid #ddd;
    }
    span{
        display: inline-block;
        padding: 10px;
       
    }
    a{display: inline-block;
        color: #666;
        padding-left: 10px;
        transition: all 0.3s;
    }
    a:hover{
        color: #f12020;
    }
    }
    .li-zh:hover .sub-zh{display: block}
}
main{background: #f9f9f9;
// 产品展示即页面主体部分
.main-inner{
    width: 1226px;
    margin: auto;
    .notice-top{
            height: 40px;
    padding-left: 55px;
    background: url(../images/home-radio-icon_03.png) no-repeat left 3px;
    overflow: hidden;
    h2{
        font-weight: normal;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    float: left;
    }
    }
    .notice-bot{
        height: 160px;
    margin-bottom: 30px;
    .notice-bot-box1{
        float: left;
        width: 226px;
        overflow: hidden;
        position: relative;
        background: #585858;
        .notice-bot-box1-heng{
            position: absolute;
            top: 50%;
            display: block;
            width: 100%;
            height: 1px;
            background: #717171;}
            .notice-bot-box1-shu{
                position: absolute;
                left: 50%;
                display: block;
                height: 100%;
                width: 1px;
                background: #717171;
            }
            li{     
                width: 50%;
                height: 80px;
                float: left;
            }
            li a{
                display: block;
                height: 79px;
                font-size: 14px;
                color: #ffffff;
                text-align: center;
                line-height: 1;
            }
            li a img{
                padding: 15px 0px 5px;
                margin: 0px auto;
                display: block;
                box-sizing: content-box
            }
    }
    .notice-bot-box2{
        float: left;
        width: 320px;
    margin-left: 13px;
    }
    .notice-bot-box3{
        float: left;
        width: 320px;
    margin-left: 13px;
    }
    .notice-bot-box4{
        float: left;
        width: 320px;
    margin-left: 13px;
    }
    }
    
    // 商品展示公用样式
    .main-common{
        height: 685px;
        padding-top: 30px;
        margin-top: 40px;
        // margin-bottom: 5px;
        .main-common-left{
            width: 228px;
            float: left;
            .main-common-left-theme{
                height: 30px;
                line-height: 30px;
                margin-bottom: 15px;
                p{
                    padding-left: 13px;
                    font-size: 22px;
                    color: #333333;
                    line-height: 25px;
                    height: 25px;
                    float: left;
                    border-left: 4px solid #ca694e;
                }
                a{
                    font-size: 14px;
                    float: right;
                    margin-right: 5px;
                    color: #8a4532;
                }
            }
        }
        .main-common-right{
            margin-left: 226px;
            .main-common-right-nav{
                line-height: 30px;
                height: 30px;
                margin-bottom: 15px;
                ul{
                    overflow: hidden;
                    float: right;
                    margin-right: 8px;
                    li{
                        float: left;
                        margin-left: 33px;
                        line-height: 25px;
                        height: 25px;
                        a{
                            font-size: 14px;
                            color: #333333;
                            transition: all 0.3s;
                        }
                        a:hover{
                            color: #f12020
                        }
                    }
                }
            }
            .main-common-right-goods{
                height: 640px;
                .main-common-goods{
                    width: 190px;
                    height: 260px;
                    margin-bottom: 10px;
                    padding: 25px;
                    float: left;
                    margin-left: 9px;
                    box-sizing: content-box;
                    background: #fff;
                    .main-common-goods-img{
                        height: 160px;
                        width: 160px;
                        margin: 0px auto;
                        a{
                            display: block;
                            img{
                                height: 160px;
                                width: 160px;
                            }
                        }
                    }
                    .main-common-goods-text{display: block;
                                h2{
                                    font-size: 14px;
                                    line-height: 14px;
                                    text-align: center;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    height: 15px;
                                    margin-top: 20px;
                                    a{
                                        color: #222
                                    }
                                }
                                p{
                                    line-height: 12px;
                                    font-size: 12px;
                                    margin-top: 10px;
                                    color: #999;
                                    text-align: center;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    height: 12px;
                                }
                                h3{
                                    font-size: 16px;
                                    text-align: center;
                                    color: #f12020;
                                    line-height: 22px;
                                    margin-top: 10px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    font-weight: normal;
                                }
                    }
            }
            .main-common-goods:hover{box-shadow: 0px 0px 5px 3px #d9d9d9}
        }
    }
}    
}
}

// main css end
