@charset "utf-8";
header {
  position: relative;
  margin: 0px;
  width: 100%;
  background: #ffffff;
  height: 60px;
  line-height: 60px;
  display: block;
}
header .logoImg {
  float: left;
  margin: 17px 0px 17px 40px;
  height: 26px;
}
header .spaceLine {
  float: left;
  width: 1px;
  height: 30px;
  margin: 15px;
  background: #c9c9c9;
}
.contentDiv {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 520px;
  height: 450px;
  border-radius: 10px;
  background: #ffffff;
  margin: auto;
  box-shadow: 3px 3px 10px #e8e8e8;
}
.contentDiv .contentDiv-tab {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}
.contentDiv .contentDiv-tab .active {
  background: #fff!important;
  color: #000!important;
}
.contentDiv .contentDiv-tab .tab1 {
  border-top-left-radius: 10px;
}
.contentDiv .contentDiv-tab .tab2 {
  border-top-right-radius: 10px;
}
.contentDiv .contentDiv-tab .tab1,
.contentDiv .contentDiv-tab .tab2 {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background: #dfe4e8;
  color: #8e98a0;
}
.contentDiv .phoneLogin {
  display: none;
}
.contentDiv .userLogin,
.contentDiv .phoneLogin {
  position: absolute;
  left: 260px;
  transform: translateX(-50%);
}
.contentDiv .userLogin .tab-user,
.contentDiv .phoneLogin .tab-user,
.contentDiv .userLogin .tab-pwd,
.contentDiv .phoneLogin .tab-pwd {
  margin: 0 auto 28px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  width: 380px;
  height: 40px;
}
.contentDiv .userLogin .tab-user span,
.contentDiv .phoneLogin .tab-user span,
.contentDiv .userLogin .tab-pwd span,
.contentDiv .phoneLogin .tab-pwd span {
  float: left;
  line-height: 30px;
  height: 30px;
  padding: 5px;
}
.contentDiv .userLogin .tab-user input,
.contentDiv .phoneLogin .tab-user input,
.contentDiv .userLogin .tab-pwd input,
.contentDiv .phoneLogin .tab-pwd input {
  float: left;
  border: none;
  padding: 0px;
  margin: 10px 0px;
  line-height: 20px;
  outline: none;
  width: 325px;
  font-size: 16px;
  background: #fff;
}
.contentDiv .userLogin .tab-user button,
.contentDiv .phoneLogin .tab-user button,
.contentDiv .userLogin .tab-pwd button,
.contentDiv .phoneLogin .tab-pwd button {
  float: left;
  height: 100%;
  width: 130px;
  border: none;
  border-left: 1px solid #bdbdbd;
  margin: 0px 0px 0px 20px;
  color: #3e3e3e;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  background: #ffffff;
}
.contentDiv .userLogin .tab-user .check,
.contentDiv .phoneLogin .tab-user .check,
.contentDiv .userLogin .tab-pwd .check,
.contentDiv .phoneLogin .tab-pwd .check {
  width: 200px;
}
.contentDiv .loginBtnDiv {
  margin: 0px auto;
  width: 380px;
  height: 40px;
  border-radius: 5px;
}
.contentDiv .loginBtnDiv .loginBtn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background: #1c95f3;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.contentDiv .no-login {
  margin: 10px auto;
  width: 380px;
  height: 30px;
}
.contentDiv .no-login .zhuce,
.contentDiv .no-login .forget {
  float: right;
  border: none;
  background: none;
  color: #19a2e9;
  font-size: 13px;
  padding: 0px;
  cursor: pointer;
}
.contentDiv .no-login .zhuce {
  border-right: 1px solid #19a2e9;
  padding-right: 3px;
}
.contentDiv .no-login .forget {
  padding-left: 3px;
}
.contentDiv .otherLogin {
  width: 470px;
  height: 25px;
  margin: 20px auto 10px auto;
}
.contentDiv .otherLogin .leftLine,
.contentDiv .otherLogin .rightLine {
  float: left;
  height: 1px;
  width: 180px;
  background: #e5e9ec;
  margin: 9px 3px;
}
.contentDiv .otherLogin .centerText {
  float: left;
  height: 25px;
  font-size: 13px;
  padding: 0px 10px;
  color: #949491;
}
.contentDiv .otherLoginMethod {
  width: 320px;
  height: 40px;
  margin: 20px auto;
}
.contentDiv .otherLoginMethod img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 0px 18px;
}
