@charset "utf-8";
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dt,
dd,
fieldset,
legend,
input,
img,
select,
dl {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

li {
    list-style: none;
}

img,
fieldset {
    border: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
body {
    font-size: 16px;
    font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
}

body {
    background: #f5f6fb;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

i,
b,
strong,
em,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal
}